<footer class="footer">
            <a href="index.html" class="header-logo logo"><img src="./img/logocity.png" width="60" height="40" alt="The yellow casca"></a>
            <p>©2024 CityPromBud</p>
            <p>All rights reserved</p>
            <ul class="header-cont">
                <li><a href="mailto:sityprombud@gmail.com" class="link-contacts link-contacts-add">sityprombud@gmail.com</a></li>
                <li><a href="tel:+380969745787" class="link-contacts link-contacts-add">+38-096-974-57-87</a></li>
            </ul>
</footer>