<div class="nav-list-add">
    <ul class="nav-list">
      <li><a href="servisec.html" class="nav-link current">Послуги</a>
      </li>
      <li><a href="example.html" class="nav-link current">Наші об'єкти</a>
      </li>
      <li><a href="connection.html" class="nav-link current">Зв'язатися з нами</a>
      </li>
      <li><a href="aboutus.html" class="nav-link current">Про нас</a>
      </li>
    </ul>

    <ul class="header-cont">
      <li><a href="mailto:sityprombud@gmail.com" class="link-contacts">sityprombud@gmail.com</a></li>
      <li><a href="tel:+380969745787" class="link-contacts">+38-096-974-57-87</a></li>
    </ul>
  </div>
