<section class="vite-promo">
  <div class="container-main">
    <div class="wrapper">
      <h2 class="title">
        <span class="gradient">Ласкаво просимо до СітіПромБуд</span>
      </h2>
      <p class="text">"Наша мета — створити будівельні об'єкти, які відповідатимуть потребам майбутніх поколінь та сприятимуть сталому розвитку."</p>
      <p class="tagline">Пропонуємо комплекс будівельних робіт:</p>
     
      <ul class="actions">
        <li class="action">
          <a href="./servisec.html" class="link">Послуги</a>
        </li>
      </ul>
    </div>

    <div class="thumb">
      <img
        class="pic"
        src="./img/indeximg.jpg"
        alt="The yellow casca"
        width="640"
        height="640"
      >
    </div>
  </div>
</section>
