<section>
    <div class="container row">
        <ul class="card-set nul">
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/serviseBeton.jpg" alt="concrete work">
                    <div class="overlay">
                        <p>Міцність і стійкість до навантажень - головна перевага бетону</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Залізобетонні роботи</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/ventfasad.jpg" alt="Fasad's photo">
                    <div class="overlay">
                        <p>Вентильований фасад - сучасне, функціональне та презентабельне рішення.</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Монтаж вентильованих фасадів</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/sendwich.jpg" alt="Sandwich panels" width="360" height="300">
                    <div class="overlay">
                        <p>Мала вага та високі ізоляційні якості - переваги сендвіч панелей</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Монтаж сендвіч панелей</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/angarind.jpg" alt="Industrial building" width="360"
                        height="300">
                    <div class="overlay">
                        <p>Будуємо надійні, довговічні та економічні конструкції</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Комерційне будівництво</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/commercialbuilding.jpg" alt="The commercial building" width="360"
                        height="300">
                    <div class="overlay">
                        <p>Враховуємо цільове призначення, що визначає особливості будівельного процесу</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Будівництво сільськогосподарських об'єктів </h2>
                </div>
            </li>

            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/krovlya.jpg" alt="The hangar" width="360" height="300">
                    <div class="overlay">
                        <p>Якісно виконані покрівельні роботи забезпечують, по-перше, ефективну теплоізоляцію.</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Монтаж покрівельних конструкцій</h2>
                </div>
            </li>

        </ul>
    </div>
</section>