<section>
    <div class="container row">
        <ul class="card-set nul">
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/serviseBeton.jpg" alt="concrete work">
                    <div class="overlay">
                        <p>Міцність і стійкість до навантажень - головна перевага бетону</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Залізобетонні роботи</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/servicessecond.jpg" alt="Metal structures">
                    <div class="overlay">
                        <p>Поєднання легкості, міцності та легкої ваги - переваги металоконструкцій</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Монтаж металоконструкцій</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/sendwich.jpg" alt="Sandwich panels" width="360" height="300">
                    <div class="overlay">
                        <p>Мала вага та високі ізоляційні якості - переваги сендвіч панелей</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Монтаж сендвіч панелей</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/photo_one.jpg" alt="Industrial building" width="360"
                        height="300">
                    <div class="overlay">
                        <p>Будуємо надійні, довговічні та економічні конструкції</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Промислове будівництво</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/commercialbuilding.jpg" alt="The commercial building" width="360"
                        height="300">
                    <div class="overlay">
                        <p>Враховуємо цільове призначення, що визначає особливості будівельного процесу</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Комерційне будівництво</h2>
                </div>
            </li>

            <li class="card-item item-a">
                <div class="box">
                    <img class="img-margin" src="./img/angar.jpg" alt="The hangar" width="360" height="300">
                    <div class="overlay">
                        <p>Універсальність та швидкість зведення - головні переваги подібних конструкцій</p>
                    </div>
                </div>
                <div class="section-border">
                    <h2 class="section-title">Прямостінні каркасні ангари та склади</h2>
                </div>
            </li>

        </ul>
    </div>
</section>