<section>
    <div class="container connectus-add-class">

        <div>
            <h2 class="text-center">МИ ЗБУДУЄМО БУДІВНИЧИЙ ОБ'ЄКТ ПІД БУДЬ-ЯКЕ ВИРОБНИЦТВО</h2>
            <p class="info-text add-padding">Гарантуємо, що наші конструкції будуть служити довго та надійно. Докладніше
                про те, як ми зводимо виробничі будівлі та споруди, пропонуємо розглянути нижче.</p>
        </div>

        <div>
            <ul class="connect-us-first">
                <li class="connect-us-board">
                    <img class="connectus-svg" src="./img/circle_check.svg" width="70" height="70">
                    <h2 class="connectus-h">КОНКУРЕНТНІ ЦІНИ</h2>
                    <p class="info-text">Наші ціни - це найкраще співвідношення ціни та якості на ринку.</p>
                </li>
                <li class="connect-us-board">
                    <img class="connectus-svg" src="./img/circle_check.svg" width="70" height="70">
                    <h2 class="connectus-h">ВРАХОВУЄМО ВАШІ ПОТРЕБИ</h2>
                    <p class="info-text">Ми будемо працювати з Вами індивідуально, щоб створити будівничий об'єкт, який
                        буде ідеальним для Вас.
                    </p>
                </li>
                <li class="connect-us-board">
                    <img class="connectus-svg" src="./img/circle_check.svg" width="70" height="70">
                    <h2 class="connectus-h">БУДЬ-ЯКІ ПЛОЩІ</h2>
                    <p class="info-text">Наші послуги доступні для клієнтів з будь-якими потребами в площі.</p>
                </li>
            </ul>
        </div>

        <ul class="card-set-example nul row">
            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/dom.jpg" alt="The household premises ">
                </div>
                <div class="section-border">
                    <h2 class="section-title">Побутове приміщення</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/angar.jpg" alt="The hangar">
                </div>
                <div class="section-border">
                    <h2 class="section-title">Каркасний ангар</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/kran.jpg" alt="The storage">
                </div>
                <div class="section-border">
                    <h2 class="section-title">Складське приміщення</h2>
                </div>
            </li>
            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/sklad.jpg" alt="The storage">
                </div>
                <div class="section-border">
                    <h2 class="section-title">Складське приміщення 1100 м.кв</h2>
                </div>

            </li>
            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/skladsecond.jpg" alt="The industrial base" width="360"
                        height="300">
                </div>
                <div class="section-border">
                    <h2 class="section-title">Промислова база </h2>
                </div>
            </li>

            <li class="card-item item-a">
                <div class="box-example">
                    <img class="img-margin" src="./img/examle/smalldom.jpg"
                        alt="The pumping station with sandwich panels">
                </div>
                <div class="section-border">
                    <h2 class="section-title">Насосна станція з сендвіч панелей</h2>
                </div>
            </li>

        </ul>
    </div>
</section>