<!-- Mobile menu -->
<div class="ex">

    <ul class="mobile-menu">
        <li><a href="servisec.html" class="mobile-link current link">Послуги</a></li>
        <li><a href="example.html" class="mobile-link current link">Наші об'єкти</a></li>
        <li><a href="connection.html" class="mobile-link link">Зв'язатися з нами</a></li>
        <li><a href="aboutus.html" class="mobile-link link">Про нас</a></li>
    </ul>

    <div class="mobile-menu-div">
        <ul class="mobile-menu-link">
            <li><a href="tel:+380969745787" class="mobile-menu-tel">+38-096-974-57-87</a></li>
            <li><a href="mailto:sityprombud@gmail.com" class="mobile-menu-tel
                ">sityprombud@gmail.com</a></li>
        </ul>
    </div>
</div>