<section class="container">
    <div class="different-us">
        <div class="different-us-div">
            <h2 class="different-us-title">Чому варто вибрати СітіПромБуд?</h2>
            <p class="different-us-text">ТОВ «СітіПромБуд» — це будівельна компанія, що надає будівельні послуги щодо
                виготовлення швидко монтованих будівель та металоконструкцій на замовлення.
                Ми співпрацюємо з клієнтами та партнерами, враховуючи сьогоднішні та майбутні тенденції у будівництві.
                Ви можете розраховувати на те, що наші інноваційні рішення зроблять внесок у Ваше комфортне майбутнє.
                Ми можемо швидко та якісно виконувати замовлення будь-якого обсягу та складності. У нас ви можете
                замовити проектування, виготовлення, доставку та встановлення.</p>
        </div>
        <img class="different-us-img" src="./img/selectus.jpg" alt="Some blueprints are on the table" width="690" height="360">

    </div>
</section>