<section class="container">
    <div class="different-us reverse">
        <img class="different-us-img" src="./img/selectus_man.jpg" alt="Two builders reviewing blueprints" width="690"
            height="360">
        <div class="select-us-div">
            <h2 class="different-us-title">Що відрізняє СітіПромБуд від інших?</h2>
            <p class="different-us-text">Вибір будівельної компанії може бути напруженим процесом, оскільки лише
                небагато компаній мають достатньо досвіду, щоб задовольнити різноманітні потреби своїх клієнтів.
                <span class="basic-tex">Наші фахівці постійно вдосконалюються, що означає, що ми завжди стаємо кращими в
                    тому, що робимо.</span>
            </p>
        </div>
    </div>
</section>